body {
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	word-wrap: break-word;
	text-rendering: optimizelegibility;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.75rem;
}

a.navbar-item:hover {
	background: black;
}

pre, .hljs {
	padding: 0;
	background: #272822;
}

pre {
	padding-top: 10px;
	padding-bottom: 10px;
}

