@import "uikit/dist/css/uikit.min";

.tm-sidebar-left {
	position: fixed;
	top: 80px;
	bottom: 0;
	box-sizing: border-box;
	width: 240px !important;
	padding: 40px 40px 60px 40px;
	border-right: 1px #e5e5e5 solid;
	overflow: auto;
}

.tm-sidebar-left {
    width: 300px !important;
    padding: 45px 45px 60px 45px;
}

body {
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	word-wrap: break-word;
	text-rendering: optimizelegibility;
}

pre {
	padding: 0;
	background: #272822;
	padding-top: 10px;
	/*padding-bottom: 10px;*/
}

.header::before {
	display: block;
	content: " ";
	margin-top: -60px;
	height: 60px;
	visibility: hidden;
	pointer-events: none;
}

.asciinema-player .control-bar {
	display: none;
}

.asciinema-player-wrapper {
	text-align: left;
}

.asciinema-player .loading {
	display: none;
}

.asciinema-player .start-prompt .play-button {
	display: none;
}

/* PrismJS 1.14.0
http://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+jsx+typescript+tsx */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #ccc;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}

pre {
	border: none;
	font-size: 12px;
}

address,dl,fieldset,figure,ol,p,pre,ul {
	margin: 0px;
		styles={ { background: 'black' } }
}
